@model ProcessoSeleticov2.Models.ArquivoModel

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1 class="table display-4">Deletar Arquivo</h1>
</div>
<hr />
<div>
    <h4>Deletar Arquivo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-check text-center d-grid gap-2" style="padding-left: 0px;">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-secondary btn-block" asp-action="Index" role="button">Voltar</a>
        </div>
    </form>
</div>
